*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #00afce;
    color: #ffffff;
}
header{
    background-color: #ffffff;
    color: #00afce;
}
.header{
    text-align: center;
}
.header img{
    border-radius:50%;
    border: solid yellow 3px;
    width: 150px;
    height: 150px;
    
}
img{
    width: 350px;
    height: 350px;
}
.Tim{
    box-shadow: ;
}