* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5e1d2;
    font-family: 'Poppins', sans-serif; 
    color: #333;
    margin: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif; 
    color: #8c6046;
}

.menu li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #8c6046;
    
}

 p, ul, li {
    font-family: 'Poppins', sans-serif; 
    text-align: justify;
    padding-left:  400px;
    margin: 0;

}


header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #8c6046;
}

header h2 {
    font-size: 1.5em;
    color: #a67857;
}

hr {
    height: 2px;
    background-color: #000000;
    margin: 20px 0;
}

.menu, .imagens, .localizacao {
    text-align: center;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    font-size: 1.2em;
    margin: 5px 0;
    color: #8c6046;
    
}

.imagens img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.localizacao a {
    text-decoration: none;
    color: #ff4500;
    font-weight: bold;
}




footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer p {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
