* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #00afce;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    color: #00afce;
    text-align: center;
    padding: 30px;
    animation: fadeIn 2s ease-in-out;
}

.header img {
    border-radius: 50%;
    border: solid yellow 3px;
    width: 150px;
    height: 150px;
    animation: slideInLeft 1.5s ease-in-out;
}

h1, h2 {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.animate-text, .animate-subtitle {
    animation: fadeIn 3s ease-in-out;
}

.Tim, .albuns {
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    max-width: 1200px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.album {
    background-color: #ffffff;
    color: #00afce;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.album:hover {
    transform: scale(1.1);
    background-color: #00afce;
    color: #ffffff;
}

.album img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#player {
    margin: 50px auto;
    text-align: center;
}

.music-player {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    background-color: #00afce;
    color: #ffffff;
    width: 80%;
    animation: fadeInUp 2s ease-in-out;
}

.back-to-top {
    position: fixed; 
    bottom: 20px;
    right: 20px; 
    background-color: #00afce;
    color: white;
    padding: 15px 20px; 
    border-radius: 8px; 
    font-size: 1.2em;
    text-align: center; 
    text-decoration: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.back-to-top:hover {
    background-color:gold; 
    transform: scale(1.1);
}

footer {
    background-color: #ffffff;
    color: #00afce;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 10px 0;
}

.rodape a{
    display: inline-block;
    background-color: #0097a7;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.rodape a:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
